{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}{{ user.username }}'s Profile - PureOrganics{% endblock %}

{% block content %}
<section class="profile-section">
    <div class="profile-header">
        <h2>{{ user.username }}'s Profile</h2>
    </div>
    <div class="profile-details">
        <div class="profile-image-container">
            <img src="{% if user.profile.profile_image %}{{ user.profile.profile_image.url }}{% else %}{% static 'myapp/images/default-profile.png' %}{% endif %}" alt="Profile Image" class="profile-image">
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="profile-form-group">
                <label for="id_profile_image">Change your Profile Photo:</label>
                {{ form.profile_image }}
                <div class="profile-buttons">
                    <button type="submit" class="btn upload-btn">Upload</button>
                    {% if user.profile.profile_image %}
                    <button type="submit" name="remove_photo" class="btn remove-btn">Remove Profile Photo</button>
                    {% endif %}
                </div>
            </div>
        </form>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Join Date:</strong> {{ request.user.date_joined }}</p>
        <p><strong>Last Visit Date:</strong> {{ last_visit  }}</p>
    </div>
</section>
{% endblock %}
